<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/head.ejs') %>
    <title>Crear Nuevo Continente</title>
</head>
<body>
    <%- include('partials/navigation.ejs') %>
      <div class="container mt-4">     
            <div class="card border-secondary">  
                <div class="card-header">Nuevo Continente</div>
                <div class="card-body">
                    <form action="/saveContinente" method="POST">
                         
                        
                        <div class="mb-3">
                            <label for="name" class="form-label">Continente</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" tabindex="1"></input>
                        </div> 
                        
                        <button type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
                        <a href="/continentes" class="btn btn-secondary">Cancelar</a>
                    </form>
                </div>
            </div>        
      </div>
      <%- include('partials/scripts.ejs') %>
</body>
</html>