<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/head.ejs') %>
    <title>CRUD</title>
</head>
<body>
    <%- include('partials/navigation.ejs') %>
      <div class="container mt-4">     
            <div class="card border-secondary">  
                <div class="card-header">Nuevo Árbitro</div>
                <div class="card-body">
                    <form action="/saveArbitro" method="POST">
                        <div class="mb-3">
                        <label for="name" class="form-label">Nombre del árbitro</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" tabindex="1">
                        </div>   
                        <div class="mb-3">
                        <label for="rol" class="form-label">Rol</label>
                        <select id="rol" name="rol" class="form-select" aria-label="Default select example" tabindex="2">
                            <option value="Principal" selected>Principal </option>
                            <option value="Asistente Adicional">Asistente Adicional</option>                    
                            <option value="Asistente Lateral">Asistente Lateral</option>                    
                            <option value="Asistente Var">Asistente Var</option>                    
                        </select>
                        </div>   
                        <div class="mb-3">
                            <label for="pais" class="form-label">País</label>
                            <select id="pais" name="pais" class="form-select" aria-label="Default select example" tabindex="2">
                                <option value="Venezuela" selected>Venezuela</option>
                                <option value="México">México</option>                    
                                <option value="Perú">Perú</option>                    
                                <option value="Chile">Chile</option>                    
                            </select>
                            </div>                                 
                        <button type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
                        <a href="/arbitros" class="btn btn-secondary">Cancelar</a>
                    </form>
                </div>
            </div>        
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>