<div class="sidebar close">
  <div class="logo-details">
    <i class='bx bx-football' ></i>
    <span class="logo_name">FIFA </span>
  </div>
  <ul class="nav-links">
    <li>
      <a href="#">
        <i class='bx bx-grid-alt' ></i>
        <span class="link_name">Dashboard</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="#">Dashboard</a></li>
      </ul>
    </li>
    <li>
      <div class="iocn-link">
        <a href="#">
          <i class='bx bx-shield-quarter'></i>
          <span class="link_name">Equipos</span>
        </a>
        <i class='bx bxs-chevron-down arrow' ></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name" href="#">Equipos</a></li>
        <li><a href="#">Países</a></li>
        <li><a href="/equipos">Lista de Equipos</a></li>
        <li><a href="/grupos">Grupos</a></li>
        <li><a href="#">Confederaciones</a></li>
        <li><a href="/continentes">Continentes</a></li>
      </ul>
    </li>
    <li>
      <div class="iocn-link">
        <a href="#">
          <i class='bx bx-building-house' ></i>
          <span class="link_name">Hoteles</span>
        </a>
        <i class='bx bxs-chevron-down arrow' ></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name" href="#">Hoteles</a></li>
        <li><a href="/hotel">Lista de Hoteles</a></li>
        <li><a href="/hospedaje">Alojamiento</a></li>
      </ul>
    </li>
    <li>
      <div class="iocn-link">
        <a href="#">
          <i class='bx bx-football'></i>
          <span class="link_name">Partidos</span>
        </a>
        <i class='bx bxs-chevron-down arrow' ></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name" href="#">Partidos</a></li>
        <li><a href="/partidos">Lista de partidos</a></li>
        <li><a href="/grupos">Grupos</a></li>
        <li><a href="#">Eliminatorias</a></li>
      </ul>
    </li>
    
    <li>
      <a href="#">
        <i class='bx bx-sitemap'></i>
        <span class="link_name">Estadios</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="#">Estadios</a></li>
      </ul>
    </li>
    <li>
      <a href="/jugadores">
        <i class='bx bxs-user-circle'></i>
        <span class="link_name">Jugadores</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="/jugadores">Jugadores</a></li>
      </ul>
    </li>
    <li>
      <div class="iocn-link">
        <a href="#">
          <i class='bx bxs-user-rectangle' ></i>
          <span class="link_name">Árbitros</span>
        </a>
        <i class='bx bxs-chevron-down arrow' ></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name" href="#">Árbitros</a></li>
        <li><a href="/arbitros">Lista de Árbitros</a></li>
        <li><a href="#">Arbitrajes</a></li>
      </ul>
    </li>

    <li>
      <div class="iocn-link">
        <a href="#">
          <i class='bx bx-line-chart' ></i>
          <span class="link_name">Estadísticas</span>
        </a>
        <i class='bx bxs-chevron-down arrow' ></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name" href="#">Estadísticas</a></li>
        <li><a href="#">Generales</a></li>
        <li><a href="#">Individuales</a></li>
      </ul>
    </li>
    <li>
  </li>
</ul>
</div>