<div class="navigation">
  <div class="menuToggle"></div>
  <ul>
    <li class="list" style="--clr:#f44336;">
      <a href="/">
        <span class="icon"><i class="fas fa-home"></i></span>
        <span class="text">Home</span>
      </a>
    </li>
    <li class="list" style="--clr:#ffa117;">
      <a href="/arbitros">
        <span class="icon"><i class="fas fa-users"></i></span>
        <span class="text">Árbitros</span>
      </a>
    </li>
    <li class="list" style="--clr:#0fc70f;">
      <a href="/hotel">
        <span class="icon"><i class="fas fa-hotel"></i></span>
        <span class="text">Hotel</span>
      </a>
    </li>
    <li class="list" style="--clr:#2196f3;">
      <a href="/equipos">
        <span class="icon"><i class="fas fa-shield-alt"></i></span>
        <span class="text">Equipos</span>
      </a>
    </li>
    <li class="list" style="--clr:#b145e9;">
      <a href="/jugadores">
        <span class="icon"><i class="fas fa-user-shield"></i></span>
        <span class="text">Jugadores</span>
      </a>
    </li>
    <li class="list" style="--clr:#b145e9;">
      <a href="/partidos">
        <span class="icon"><i class="fas fa-futbol"></i></span>
        <span class="text">Partidos</span>
      </a>
    </li>
  </ul>
</div>


