<div class="navigation">
  <div class="menuToggle"></div>
  <ul>
    <li class="list" style="--clr:#f44336;">
      <a href="/">
        <span class="icon"><i class="fas fa-home"></i></span>
        <span class="text">Home</span>
      </a>
    </li>
    <li class="list" style="--clr:#ffa117;">
      <a href="/arbitros">
        <span class="icon"><i class="fas fa-users"></i></span>
        <span class="text">Árbitros</span>
      </a>
    </li>
    <li class="list" style="--clr:#0fc70f;">
      <a href="/hotel">
        <span class="icon"><i class="fas fa-hotel"></i></span>
        <span class="text">Hotel</span>
      </a>
    </li>
    <li class="list" style="--clr:#2196f3;">
      <a href="/equipos">
        <span class="icon"><i class="fas fa-shield-alt"></i></span>
        <span class="text">Equipos</span>
      </a>
    </li>
    <li class="list" style="--clr:#b145e9;">
      <a href="/jugadores">
        <span class="icon"><i class="fas fa-user-shield"></i></span>
        <span class="text">Jugadores</span>
      </a>
    </li>
    <li class="list" style="--clr:#b145e9;">
      <a href="/partidos">
        <span class="icon"><i class="fas fa-futbol"></i></span>
        <span class="text">Partidos</span>
      </a>
    </li>
  </ul>
</div>

<script>

  // obtener la url
  const url = window.location.href;
  console.log(url)
  // si el usuario esta en la pagina de arbitros entonces el menu se activa y los demas se desactivan
  if(url.includes('arbitros')){
    document.querySelector('.list:nth-child(2)').classList.add('active');
  }else if(url.includes('hotel')){
    document.querySelector('.list:nth-child(3)').classList.add('active')
  }else if(url.includes('equipos')){
    document.querySelector('.list:nth-child(4)').classList.add('active');
  }else if(url.includes('partidos')){
    document.querySelector('.list:nth-child(5)').classList.add('active');
  }else{
    document.querySelector('.list:nth-child(1)').classList.add('active');
  }

  

  const menuToggle = document.querySelector('.menuToggle');
  const navigation = document.querySelector('.navigation');
  menuToggle.onclick = function(){
    navigation.classList.toggle('open')
  }

  const list = document.querySelectorAll('.list');
  function activeLink(){
    list.forEach((item) =>
    item.classList.remove('active'));
    this.classList.add('active');
  }
  list.forEach((item) =>
  item.addEventListener('click',activeLink))
  
</script>
